{:name                   "Clojure-meetup"
 :speakers               ["상현" "연오" "종립" "효진" "만영"]
 :topics                 {"상현" "주제 1"
                          "연오" "주제 2"
                          "종립" "주제 3"
                          "효진" "주제 4"
                          "만영" "주제 5"}
 :place                  #{greenlabs}
 :time                   #inst "2022-06-10T18:00:00.000-00:00"
 :number-of-participants 220}





